a.all,p.all {
background-image: url("img/photos.png");
width:75px;
height:100px;
text-indent:-999em;
border-style:none;
display:block;
overflow:hidden;
transition: width 0s;
}

a.name {
font-size: 0.9em;
}

a.jr {
background-position: 0px -100px;
}
p.jr,a.jr:hover{
background-position: 0px 0px;
}

a.ph {
background-position: -75px -100px;
}
p.ph,a.ph:hover {
background-position: -75px 0px;
}

a.mf {
background-position: -150px -100px;
}
p.mf,a.mf:hover {
background-position: -150px 0px;
}

a.el {
background-position: -225px -100px;
}
p.el,a.el:hover {
background-position: -225px 0px;
}

a.ava {
background-position: -300px -100px;
}
p.ava,a.ava:hover {
background-position: -300px 0px;
}

a.vp {
background-position: -375px -100px;
}
p.vp,a.vp:hover {
background-position: -375px 0px;
}

a.pv {
background-position: -450px -100px;
}
p.pv,a.pv:hover {
background-position: -450px 0px;
}

a.mc:hover {
background-position: -375px 0px;
}
a.mc {
width: 150px;
height: 90px;
background-position: -375px -100px;
text-align: center;
}
